<div style="padding-top:10px" style='width:100%'>
  <div id='app_list_fail_msg' style="color:red;display:none;margin-bottom:10px;font-size:medium">
    应用列表加载失败，原因:<span id='app_list_fail_cause'></span>
  </div>
  <table id='dg_app_list' class="easyui-datagrid" data-options="singleSelect:true,toolbar:'#tb',fitColumns:true, pagination:true" style='width:95%'>
    <thead>
      <tr>
        <th data-options="field:'id',hidden:true">ID</th>
        <th data-options="field:'app_id',width:150,formatter:appListPanel.formatAppId">应用名</th>
        <th data-options="field:'edit_time', width:200">修改时间</th>
        <th data-options="field:'rtx', width:150">修改人</th>
        <th data-options="field:'operation', formatter:appListPanel.formatOperation, width:200">操作</th>
      </tr>
    </thead>
  </table>
  <div id='tb' style='padding: 10px'>
    <label>应用名: </label>
    <input class="easyui-textbox" id="app_name" style="width:150px">
    <label>修改人: </label>
    <input class="easyui-textbox" id="app_updater" style="width:150px">
    <a href="javascript:appListPanel.search()" class="easyui-linkbutton" id="app_search" iconCls="icon-search">搜索</a>
  </div>
</div>