body,
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
}

#header {
  color: white;
  background-color: rgb(0, 140, 255);
  height: 60px;
  padding: 0px 10px;
  line-height: 60px;
  text-align: right;
  overflow: hidden;
}

#header>h1,
#help {
  margin: 0px;
  float: left;
  margin-right: 15px;
}

#help-img {
  position: relative;
  top: 2px;
}

#help>a {
  font-size: medium;
  color: white;
}